<div class="db bg-white br3 pa3 pa4-ns mv3 ba b--black-10">
  <h1 class="f3 tl lh-copy pip-purple-light">In the Pixelexicon...</h1>
  {% assign featuredPosts = site.posts | where: 'featured', 'a-weather-app' %}
  {% for post in featuredPosts %}
  <ul class="list pl0">
    <a class="db no-underline near-black dim" href="{{ post.medium-url }}">
      <li class="pv0">
        <h1 class="f4 pa0 mb0">{{ post.title | escape }}</h1>
        {% assign date_format = site.date_format | default: "%b %-d, %Y" %}
        <span class="f3 bit-potion pip-purple mb2 dib">{{ post.date | date: '%B %d, %Y' | upcase }}</span>
      </li>
    </a>
  </ul>
  {% endfor %}
</div>
