<footer class="pa4 pa5-l bg-pip-purple-light">
  <div class="mb4-l cf">
    <p class="bit-potion pip-purple fl w-100 w-50-l pv0 f3 fw6 ttu tracked mb4">GOT ANY IDEAS?</p>
  </div>
  <section class="mb5 dt dt--fixed w-100">
    <div class="dtc-l db mb4 mb4-m mb0-ns v-mid">
      <a class="white f3 f3-m f2-ns fw6 dtc link dim dib mr0 mt2 mb4 mb0-l" href="mailto:hi@pixelsinprogress.co">
      hi@pixelsinprogress.co
      </a>
    </div>
    <div class="dtc-l db v-mid">
      <form action="https://thisisnotnormal.createsend.com/t/d/s/fvlul/" method="post" id="subForm" class="w-45-ns">
        <fieldset class="cf bn ma0 pa0">
          <div class="cf">
            <label class="clip" for="email-address">Email Address</label>
            <input id="fieldEmail" class="f3 input-reset bn fl black-80 bg-white bit-potion pa3 w-100 w-75-m w-80-l" name="cm-fvlul-fvlul" placeholder="ENTER YOUR EMAIL" type="email" required />
            <input class="f3 button-reset fl pv3 tc bn bg-pip-purple btn-hover bg-animate bit-potion white pointer w-100 w-25-m w-20-l" type="submit" value="SUBSCRIBE" />
          </div>
        </fieldset>
      </form>
    </div>
  </section>
  <div class="dt dt--fixed w-100" >
    <div class="dn dtc-ns v-mid">
      <p class="f6 white dib pr3 mb3">
        © 2018
      </p>
    </div>
    <div class="db dtc tr v-mid f5 f4-ns">
      <a href="https://twitter.com/Nitinsampathi" class="pip-purple hover-pip-purple-dark link dib mr3" title="Nitin's Twitter">
        @Nitinsampathi
      </a>
      <a href="https://twitter.com/mattchewtaylor" class="pip-purple hover-pip-purple-dark link dib mr3" title="Matt's Twitter">
        @mattchewtaylor
      </a>
      <a href="https://medium.com/pixels-in-progress" class="pip-purple hover-pip-purple-dark link dib" title="Pixels in Progress on Medium">
        Medium
      </a>
    </div>
  </div>
</footer>
