<footer class="pa4 pa5-l bg-pip-purple-light">
  <div class="mb4-l cf">
    <p class="bit-potion pip-purple fl w-100 w-50-l pv0 f3 fw6 ttu tracked mb4">GOT ANY IDEAS?</p>
  </div>
  <section class="mb5 dt dt--fixed w-100">
    <div class="dtc-l db mb4 mb4-m mb0-ns v-mid">
      <a class="white f3 f3-m f2-ns fw6 dtc link dim dib mr0 mt2 mb4 mb0-l" href="mailto:hello@impossible.com">
      hi@pixelsinprogress.co
      </a>
    </div>
    <div class="dtc-l db mb0-ns cf">
      <label class="clip" for="email-address">Email Address</label>
      <input class="f3 input-reset bn fl black-80 bg-white bit-potion pa3 w-100 w-75-m w-75-l" placeholder="ENTER YOUR EMAIL" type="email" required name="email-address" value="" id="fieldEmail" />
      <input class="f3 button-reset fl pv3 tc bn bg-animate bg-pip-purple btn-sub bit-potion white pointer w-100 w-25-m w-25-l" type="submit" value="SUBSCRIBE" />
    </div>
  </section>
  <div class="dt dt--fixed w-100" >
    <div class="dtc-ns v-mid">
      <p class="f6 white dib pr3 mb3">
        © 2018
      </p>
    </div>
    <div class="db dtc black-70 tr v-mid">
      <a href="https://twitter.com/" class="link dim dib mr3">
        <svg class="db w2 h2" data-icon="twitter" viewBox="0 0 32 32"
          fill="#202EBA" >
          <title >twitter icon</title>
          <path d="M2 4 C6 8 10 12 15 11 A6 6 0 0 1 22 4 A6 6 0 0 1 26 6 A8 8 0 0 0 31 4 A8 8 0 0 1 28 8 A8 8 0 0 0 32 7 A8 8 0 0 1 28 11 A18 18 0 0 1 10 30 A18 18 0 0 1 0 27 A12 12 0 0 0 8 24 A8 8 0 0 1 3 20 A8 8 0 0 0 6 19.5 A8 8 0 0 1 0 12 A8 8 0 0 0 3 13 A8 8 0 0 1 2 4"
          ></path>
        </svg>
      </a>
      <a href="https://medium.com/" class="link dim dib" title="Impossible Labs on Medium">
        <svg class="db w2 h2" x="0px" y="0px" viewBox="0 0 290 248.6"
          fill="#202EBA" >
          <g >
            <path fill="#202EBA" class="st0" d="M287.8,46.3L196,0.3c-0.4-0.2-0.9-0.3-1.3-0.3c0,0-0.1,0-0.1,0c-1.1,0-2.2,0.6-2.8,1.5l-56.6,92l63.2,102.7 l90.4-146.9C289.4,48.3,289,46.8,287.8,46.3z"
            ></path>
            <polygon fill="#202EBA" points="105.2,61.2 105.2,160.3 193.3,204.4 	"
            ></polygon>
            <path fill="#202EBA" d="M201,208.2l80.9,40.5c4.4,2.2,8,0,8-5v-180L201,208.2z"
            ></path>
            <path fill="#202EBA" d="M95.5,46.7L10.7,4.3L5.4,1.7C4.6,1.3,3.8,1.1,3.2,1.1c-0.9,0-1.7,0.4-2.3,1.1C0.3,2.8,0,3.8,0,5v193.4 c0,3.3,2.4,7.2,5.4,8.7l83.3,41.6c1.2,0.6,2.3,0.9,3.3,0.9c2.8,0,4.8-2.2,4.8-5.8V48.7C96.7,47.8,96.2,47.1,95.5,46.7z"
            ></path>
          </g>
        </svg>
      </a>
    </div>
  </div>
</footer>
