<header class="site-header" role="banner">

  <div class="wrapper">
    {% assign default_paths = site.pages | map: "path" %}
    {% assign page_paths = site.header_pages | default: default_paths %}

    {% if page_paths %}
    <nav class="db dt-l w-100 bb pa4 ph5-l">
      <a class="db dtc-l v-mid mid-gray link dim w-100 w-25-l tc tl-l ph2 mb2 mb0-l" href="/" title="Home">Pixels in Progress</a>
      <div class="db dtc-l v-mid w-100 w-75-l tc tr-l">
        <a class="link dim dark-gray f5 dib mr3 mr4-l" href="/" title="Projects">Projects</a>
        <a class="link dim dark-gray f5 dib mr3 mr4-l" href="/about" title="About">About</a>
        <a class="link dim dark-gray f5 dib mr3 mr4-l" href="/writing" title="Writing">Writing</a>
        <a class="br-pill bg-green ph3 pv2 link dim white f5 dib mr2" href="/mailing-list" title="Mailing List">Subscribe</a>
      </div>
    </nav>
    {% endif %}
  </div>
</header>
