<form action="https://thisisnotnormal.createsend.com/t/d/s/fvlul/" method="post" id="subForm" class="bg-pip-purple-light mw7 center pa4">
  <fieldset class="cf bn ma0 pa0">
    <div class="cf">
      <label class="clip" for="email-address">Email Address</label>
      <input id="fieldEmail" class="f3 input-reset bn br0 fl black-80 bg-white email-field pa3 w-100 w-75-m w-80-l" name="cm-fvlul-fvlul" placeholder="Enter your email" type="email" required />
      <input class="f3 button-reset fl pv3 tc bn br0 bg-pip-purple btn-hover bg-animate bit-potion white pointer w-100 w-25-m w-20-l" type="submit" value="SUBSCRIBE" />
    </div>
  </fieldset>
</form>
