---
# Only the main Sass file needs front matter (the dashes are enough)
---

@import "tachyons.css";

/******
**************
OVERRIDES
********************/


/**********
NAV
**********/
.glow {
  transition: all .25s ease-in-out;
}

.glow:hover {
  box-shadow: 0 4px 10px 0 rgba(0,0,0,.075);
  transition: all .25s ease-in-out;
}

/**********
HOMEPAGE
**********/

/*****
Portfolio Overlay
*****/

.container {
  position: relative;
}

.overlay-pending,
.overlay-complete {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: auto;
  width: auto;
  opacity: 0;
  transition: .5s ease;
  background-color: #000;
}

.overlay-pending,
.container:hover .overlay-complete {
  opacity: .8;
}

.text {
  color: gray;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

/*****
END Portfolio Overlay
*****/


.social-container {
  width: 100%;
  float: left;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin-bottom: 30px;
}

.social-container a {
  display: inline-block;
  float: left;
  text-align: center;
  margin-bottom: 10px;
}

.person {
  position: relative;
}

.headshot {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 26px;
  height: 26px;
  border-radius: 50%;
}

.icon path{
  fill: white;
}

/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
  .social-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* END Portfolio Overlay */
