---
# Only the main Sass file needs front matter (the dashes are enough)
---

@import "tachyons.css";
@import url('https://fonts.googleapis.com/css?family=Lato:400,700');

/********************
OVERRIDES
********************/

.margin-fix {
  margin: 0 -8px 0 -8px;
}

/********************
ADDONS
1.) TYPE
2.) COLOR
********************/


/**********
1.) TYPE
**********/

/* https://joebrogers.itch.io/bitpotion */
@font-face {
  font-family: 'BitPotion';
  src: url('../fonts/BitPotion.ttf') format('truetype');
  font-style: normal;
  font-weight: normal;
}

.bit-potion {
  font-family: 'BitPotion',-apple-system,BlinkMacSystemFont,"Helvetica Neue",Helvetica,sans-serif;
}

.sans-serif {
  font-family: 'Lato',-apple-system,BlinkMacSystemFont,"Helvetica Neue",Helvetica,sans-serif;
  font-weight: 400;
}

/**********
2.) COLOR
**********/


.pip-purple-light, .hover-pip-purple-light:hover {
  color: #6976FE;
}

.bg-pip-purple-light, .hover-bg-pip-purple-light:hover {
  background-color: #6976FE;
}

.pip-purple, .hover-pip-purple:hover {
  color: #202EBA;
}

.bg-pip-purple, .hover-bg-pip-purple:hover {
  background-color: #202EBA;
}

.pip-purple-dark, .hover-pip-purple-dark:hover {
  color: #0A1796;
}

.bg-pip-purple-dark, .hover-bg-pip-purple-dark:hover {
  color: #0A1796;
}


/**********
3.) HOVER INTERACTIONS
**********/

.btn-hover {
  box-shadow: 0 0 0 0 rgba(11,23,150,.0);
  transition: all .25s ease-in-out;
}

.btn-hover:hover {
  background-color: #0A1796;
  box-shadow: 2px 6px 10px 0 rgba(11,23,150,.45);
  transition: all .25s ease-in-out;
}

#big-p:hover {
  fill: #0A1796;
  transition: all .25s ease-in-out;
}

/**********
HOMEPAGE
**********/

/*****
Portfolio Overlay
*****/

.container {
  position: relative;
}

.overlay-pending,
.overlay-complete {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: auto;
  width: auto;
  opacity: 0;
  transition: .5s ease;
  background-color: #202EBA;
}

.overlay-pending {
  background-color: #FFFFFF;
}

.overlay-pending,
.container:hover .overlay-complete {
  opacity: .9;
}

.text {
  width: 75%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

/*****
END Portfolio Overlay
*****/


.social-container {
  width: 100%;
  float: left;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin-bottom: 30px;
}

.social-container a {
  display: inline-block;
  float: left;
  text-align: center;
  margin-bottom: 10px;
}

.person {
  position: relative;
}

.headshot {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 26px;
  height: 26px;
  border-radius: 50%;
}

.icon path{
  fill: white;
}

/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
  .social-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* END Portfolio Overlay */
