---
# Only the main Sass file needs front matter (the dashes are enough)
---

@import "tachyons.min.css";

/********************
OVERRIDES
********************/

/**********
HOMEPAGE
**********/

/*****
Portfolio Overlay
*****/

.container {
  position: relative;
}

.overlay-pending,
.overlay-complete {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: auto;
  width: auto;
  opacity: 0;
  transition: .5s ease;
  background-color: #000;
}

.overlay-pending,
.container:hover .overlay-complete {
  opacity: .8;
}

.text {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

/* END Portfolio Overlay */
