---
layout: default
---
<div class="measure-wide center list pl0 pa3">
  <h2 class="f3 tc fw4 pa3 mv0">About</h2>
  <p> We're two designers living in Baltimore, who went to the same school, worked the same on-campus design job, and fell in love with digital design.</p>
  <p> We realized design was more than just something pretty. It was iteractable, usable, and solved problems. We latched onto this notion that the user experience was what needed to be designed, not just the interface. So we decided to pursue that further through programs at General Assembly and MICA. </p>
  <p> We also liked the idea that even though we can design the experience, visualizing it doesn't have to be just it. Designers can actually build the experience. </p>
  <p> So, we're learning to code so that we can create the products we so often think up in our minds.</p>
  <p> As digital designers, we're a bit familiar with HTML, CSS, and Javascript-We've made just a few websites before. And, outside of our 9-5s, we've never actually built and shipped a product. Follow us as we go (progress?) from pushing pixels to creating products</p>
</div>
