---
layout: default
---
<div class="pa4 pt0-l ph0-l pb5-l measure-ultra-wide center">
  <p class="f3 bit-potion pip-purple tc">ABOUT US</p>
  <h1 class="f2 tl near-black lh-title">Designers learning to develop</h1>
  <p class="f4 tl lh-copy mid-gray"> We’re a couple of designers from Baltimore, Maryland learning to build the products that we’ve always just designed. We’ve done all the researching, wireframing, and mocking up. And, although our prototypes look like the final thing, they aren't. So we’re learning to code, develop, and build whatever we can think of.</p>
  <p class="f4 tl lh-copy mid-gray"> As digital designers, we're already a bit familiar with HTML, CSS, and JS. We've made a few websites here and there, but outside of our 9-5s, we've never actually built and shipped a product. Follow us as we progress from pushing pixels to creating products.</p>
</div>
