---
layout: default
---
<div class="home">
  <div class="pa4 pa0-l measure-ultra-wide center">
    <p class="f3 bit-potion pip-purple tc">HELLO THERE,</p>
    <h1 class="f2 tl near-black">We're Nitin & Matt, two designers learning how to ship our own products.</h1>
    <p class="f4 tl lh-copy mid-gray">Follow our progress and learn with us as we go from design to code.
      <br>One email on the 1st of every month.
    </p>
    <form action="https://thisisnotnormal.createsend.com/t/d/s/fvlul/" method="post" id="subForm" class="bg-pip-purple-light mw7 center pa4">
      <fieldset class="cf bn ma0 pa0">
        <div class="cf">
          <label class="clip" for="email-address">Email Address</label>
          <input class="f3 input-reset bn fl black-80 bg-white bit-potion pa3 w-100 w-75-m w-80-l" placeholder="ENTER YOUR EMAIL" type="email" required name="email-address" value="" id="fieldEmail" />
          <input class="f3 button-reset fl pv3 tc bn bg-pip-purple btn-sub bg-animate bit-potion white pointer w-100 w-25-m w-20-l" type="submit" value="SUBSCRIBE" />
        </div>
      </fieldset>
    </form>
  </div>
  <article>
    <div class="cf pa5-l pa4 margin-fix">
      <p class="f3 bit-potion pip-purple tc">OUR PRODUCTS</p>
      <div class="fl w-100 w-50-m w-third-l pa2">
        <a href="https://geo.itunes.apple.com/us/album/blonde/id1146195596?at=1l3vqFJ&mt=1&app=music" class="container db link tc">
          <img src="http://is4.mzstatic.com/image/thumb/Music62/v4/93/8f/75/938f7536-0188-f9ba-4585-0a77ceaebf0a/source/400x40000bb.png" alt="Frank Ocean Blonde Album Cover" class="w-100 db outline black-10"/>
          <div class="overlay-complete">
            <div class="text">
              <h1 class="f2 white tc o-100">A Weather App</h1>
              <p class="f4 white tc o-70">Our first project and it's fucking awesome sauce. Lorem ipsum dolor sit amet lorem.</p>
            </div>
          </div>
        </a>
      </div>
      <div class="fl w-100 w-50-m w-third-l pa2">
        <a href="https://geo.itunes.apple.com/us/album/blonde/id1146195596?at=1l3vqFJ&mt=1&app=music" class="container db link tc">
          <img src="http://is4.mzstatic.com/image/thumb/Music62/v4/93/8f/75/938f7536-0188-f9ba-4585-0a77ceaebf0a/source/400x40000bb.png" alt="Frank Ocean Blonde Album Cover" class="w-100 db outline black-10"/>
          <div class="overlay-pending">
            <div class="text">
              <h1 class="f2 mid-gray tc o-100">In Progress</h1>
              <p class="f4 mid-gray tc">Coming March 2018</p>
            </div>
          </div>
        </a>
      </div>
      <div class="fl w-100 w-50-m w-third-l pa2">
        <a href="https://geo.itunes.apple.com/us/album/blonde/id1146195596?at=1l3vqFJ&mt=1&app=music" class="container db link tc">
          <img src="http://is4.mzstatic.com/image/thumb/Music62/v4/93/8f/75/938f7536-0188-f9ba-4585-0a77ceaebf0a/source/400x40000bb.png" alt="Frank Ocean Blonde Album Cover" class="w-100 db outline black-10"/>
          <div class="overlay-pending">
            <div class="text">
              <h1 class="f2 mid-gray tc o-100">Pending</h1>
              <p class="f4 mid-gray tc">Coming soon...</p>
            </div>
          </div>
        </a>
      </div>
      <div class="fl w-100 w-50-m w-third-l pa2">
        <a href="https://geo.itunes.apple.com/us/album/blonde/id1146195596?at=1l3vqFJ&mt=1&app=music" class="container db link tc">
          <img src="http://is4.mzstatic.com/image/thumb/Music62/v4/93/8f/75/938f7536-0188-f9ba-4585-0a77ceaebf0a/source/400x40000bb.png" alt="Frank Ocean Blonde Album Cover" class="w-100 db outline black-10"/>
          <div class="overlay-pending">
            <div class="text">
              <h1 class="f2 mid-gray tc o-100">Pending</h1>
              <p class="f4 mid-gray tc">Coming soon...</p>
            </div>
          </div>
        </a>
      </div>
      <div class="fl w-100 w-50-m w-third-l pa2">
        <a href="https://geo.itunes.apple.com/us/album/blonde/id1146195596?at=1l3vqFJ&mt=1&app=music" class="container db link tc">
          <img src="http://is4.mzstatic.com/image/thumb/Music62/v4/93/8f/75/938f7536-0188-f9ba-4585-0a77ceaebf0a/source/400x40000bb.png" alt="Frank Ocean Blonde Album Cover" class="w-100 db outline black-10"/>
          <div class="overlay-pending">
            <div class="text">
              <h1 class="f2 mid-gray tc o-100">Pending</h1>
              <p class="f4 mid-gray tc">Coming soon...</p>
            </div>
          </div>
        </a>
      </div>
      <div class="fl w-100 w-50-m w-third-l pa2">
        <a href="https://geo.itunes.apple.com/us/album/blonde/id1146195596?at=1l3vqFJ&mt=1&app=music" class="container db link tc">
          <img src="http://is4.mzstatic.com/image/thumb/Music62/v4/93/8f/75/938f7536-0188-f9ba-4585-0a77ceaebf0a/source/400x40000bb.png" alt="Frank Ocean Blonde Album Cover" class="w-100 db outline black-10"/>
          <div class="overlay-pending">
            <div class="text">
              <h1 class="f2 mid-gray tc o-100">Pending</h1>
              <p class="f4 mid-gray tc">Coming soon...</p>
            </div>
          </div>
          <dl class="mt2 f6 lh-copy">
        </a>
      </div>
    </div>
  </article>
</div>
