---
layout: default
---
<div class="home">
  <div class="pa4 pa0-l measure-ultra-wide center">
    <p class="f3 bit-potion pip-purple tc">HELLO THERE,</p>
    <h1 class="f2 tl near-black lh-title">We’re a couple of designers going from pushing pixels to building products</h1>
    <p class="f4 tl lh-copy mid-gray">Learn with us</p>
    {% include subscribe.html %}
  </div>
  <article>
    <div class="cf pa5-l pa4 margin-fix">
      <p class="f3 bit-potion pip-purple tc">OUR PROJECTS</p>
      <div class="fl w-100 w-50-m w-third-l pa2">
        <a href="projects/a-weather-app/" class="container db link tc">
          <img src="assets/img/active-thumb.png" alt="Hello World project thumbnail." class="w-100 db outline black-10"/>
          <div class="overlay-complete">
            <div class="text">
              <h1 class="f2 white tc o-100">A Weather App</h1>
              <p class="f4 white tc o-70 lh-copy">Our hello world to developing. Using React to create a simple weather app.</p>
            </div>
          </div>
        </a>
      </div>
      <div class="fl w-100 w-50-m w-third-l pa2">
        <a href="#" class="container db link tc">
          <img src="assets/img/pending-thumb.png" alt="Project pending placeholder image." class="w-100 db outline black-10"/>
          <div class="overlay-pending">
            <div class="text">
              <h1 class="f2 pip-purple tc o-100">In Progress</h1>
              <p class="f4 pip-purple tc">Coming April 2018</p>
            </div>
          </div>
        </a>
      </div>
      <div class="fl w-100 w-50-m w-third-l pa2">
        <a href="#" class="container db link tc">
          <img src="assets/img/pending-thumb.png" alt="Project pending placeholder image." class="w-100 db outline black-10"/>
          <div class="overlay-pending">
            <div class="text">
              <h1 class="f2 pip-purple tc o-100">Pending</h1>
              <p class="f4 pip-purple tc">Coming soon...</p>
            </div>
          </div>
        </a>
      </div>
      <div class="fl w-100 w-50-m w-third-l pa2">
        <a href="#" class="container db link tc">
          <img src="assets/img/pending-thumb.png" alt="Project pending placeholder image." class="w-100 db outline black-10"/>
          <div class="overlay-pending">
            <div class="text">
              <h1 class="f2 pip-purple tc o-100">Pending</h1>
              <p class="f4 pip-purple tc">Coming soon...</p>
            </div>
          </div>
        </a>
      </div>
      <div class="fl w-100 w-50-m w-third-l pa2">
        <a href="#" class="container db link tc">
          <img src="assets/img/pending-thumb.png" alt="Project pending placeholder image." class="w-100 db outline black-10"/>
          <div class="overlay-pending">
            <div class="text">
              <h1 class="f2 pip-purple tc o-100">Pending</h1>
              <p class="f4 pip-purple tc">Coming soon...</p>
            </div>
          </div>
        </a>
      </div>
      <div class="fl w-100 w-50-m w-third-l pa2">
        <a href="#" class="container db link tc">
          <img src="assets/img/pending-thumb.png" alt="Project pending placeholder image." class="w-100 db outline black-10"/>
          <div class="overlay-pending">
            <div class="text">
              <h1 class="f2 pip-purple tc o-100">Pending</h1>
              <p class="f4 pip-purple tc">Coming soon...</p>
            </div>
          </div>
          <dl class="mt2 f6 lh-copy">
        </a>
      </div>
    </div>
  </article>
</div>
