---
layout: default
---
<div class="home">
  <div class="pa5-l pa4 center">
    <h1>We're two designers who got tired of just pushing pixels. Follow us as we learn to code and build our own products</h1>
    <p>An email once a month, filling you in on our progress, and sharing the tips and tricks we find along the way</p>
    <form action="https://thisisnotnormal.createsend.com/t/d/s/fvlul/" method="post" id="subForm" class="bg-light-red mw7 center pa4 br2-ns ba b--black-10">
      <fieldset class="cf bn ma0 pa0">
        <legend class="pa0 f5 f4-ns mb3 black-80">Sign up for our newsletter</legend>
        <div class="cf">
          <label class="clip" for="email-address">Email Address</label>
          <input class="f6 f5-l input-reset bn fl black-80 bg-white pa3 lh-solid w-100 w-75-m w-80-l br2-ns br--left-ns" placeholder="Your Email Address" type="email" required name="email-address" value="" id="fieldEmail" />
          <input class="f6 f5-l button-reset fl pv3 tc bn bg-animate bg-black-70 hover-bg-black white pointer w-100 w-25-m w-20-l br2-ns br--right-ns" type="submit" value="Subscribe" />
        </div>
      </fieldset>
    </form>
  </div>
  <article>
    <div class="cf pa5-l pa4 margin-fix">
      <h2 class="f3 tc fw4 pa3 mv0">Projects</h2>
      <div class="fl w-100 w-50-m w-third-l pa2">
        <a href="https://geo.itunes.apple.com/us/album/blonde/id1146195596?at=1l3vqFJ&mt=1&app=music" class="container db link tc">
          <img src="http://is4.mzstatic.com/image/thumb/Music62/v4/93/8f/75/938f7536-0188-f9ba-4585-0a77ceaebf0a/source/400x40000bb.png" alt="Frank Ocean Blonde Album Cover" class="w-100 db outline black-10"/>
          <div class="overlay-complete">
            <div class="text">Project #1</div>
          </div>
          <dl class="mt2 f6 lh-copy">
        </a>
      </div>
      <div class="fl w-100 w-50-m w-third-l pa2">
        <a href="https://geo.itunes.apple.com/us/album/blonde/id1146195596?at=1l3vqFJ&mt=1&app=music" class="container db link tc">
          <img src="http://is4.mzstatic.com/image/thumb/Music62/v4/93/8f/75/938f7536-0188-f9ba-4585-0a77ceaebf0a/source/400x40000bb.png" alt="Frank Ocean Blonde Album Cover" class="w-100 db outline black-10"/>
          <div class="overlay-pending">
            <div class="text">Project #2 - Pending</div>
          </div>
          <dl class="mt2 f6 lh-copy">
        </a>
      </div>
      <div class="fl w-100 w-50-m w-third-l pa2">
        <a href="https://geo.itunes.apple.com/us/album/blonde/id1146195596?at=1l3vqFJ&mt=1&app=music" class="container db link tc">
          <img src="http://is4.mzstatic.com/image/thumb/Music62/v4/93/8f/75/938f7536-0188-f9ba-4585-0a77ceaebf0a/source/400x40000bb.png" alt="Frank Ocean Blonde Album Cover" class="w-100 db outline black-10"/>
          <div class="overlay-pending">
            <div class="text">Project #3 - Pending</div>
          </div>
          <dl class="mt2 f6 lh-copy">
        </a>
      </div>
      <div class="fl w-100 w-50-m w-third-l pa2">
        <a href="https://geo.itunes.apple.com/us/album/blonde/id1146195596?at=1l3vqFJ&mt=1&app=music" class="container db link tc">
          <img src="http://is4.mzstatic.com/image/thumb/Music62/v4/93/8f/75/938f7536-0188-f9ba-4585-0a77ceaebf0a/source/400x40000bb.png" alt="Frank Ocean Blonde Album Cover" class="w-100 db outline black-10"/>
          <div class="overlay-pending">
            <div class="text">Project #4 - Pending</div>
          </div>
          <dl class="mt2 f6 lh-copy">
        </a>
      </div>
      <div class="fl w-100 w-50-m w-third-l pa2">
        <a href="https://geo.itunes.apple.com/us/album/blonde/id1146195596?at=1l3vqFJ&mt=1&app=music" class="container db link tc">
          <img src="http://is4.mzstatic.com/image/thumb/Music62/v4/93/8f/75/938f7536-0188-f9ba-4585-0a77ceaebf0a/source/400x40000bb.png" alt="Frank Ocean Blonde Album Cover" class="w-100 db outline black-10"/>
          <div class="overlay-pending">
            <div class="text">Project #5 - Pending</div>
          </div>
          <dl class="mt2 f6 lh-copy">
        </a>
      </div>
      <div class="fl w-100 w-50-m w-third-l pa2">
        <a href="https://geo.itunes.apple.com/us/album/blonde/id1146195596?at=1l3vqFJ&mt=1&app=music" class="container db link tc">
          <img src="http://is4.mzstatic.com/image/thumb/Music62/v4/93/8f/75/938f7536-0188-f9ba-4585-0a77ceaebf0a/source/400x40000bb.png" alt="Frank Ocean Blonde Album Cover" class="w-100 db outline black-10"/>
          <div class="overlay-pending">
            <div class="text">Project #6 - Pending</div>
          </div>
          <dl class="mt2 f6 lh-copy">
        </a>
      </div>
    </div>
  </article>
</div>
